<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>

        <ul class="visible-links">
          {% if page.lang == "zh" %}
            {% assign nav_links = site.data.navigation.main_zh %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
              <a href="{{ '/zh/' | relative_url }}">主页</a>
            </li>
          {% else %}
            {% assign nav_links = site.data.navigation.main_en %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
              <a href="{{ '/' | relative_url }}">Homepage</a>
            </li>
          {% endif %}

          {% for link in nav_links %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {% endfor %}

          <li class="masthead__menu-item">
            {% if page.lang == "zh" %}
              <a href="{{ '/' | relative_url }}">English</a>
            {% else %}
              <a href="{{ '/zh/' | relative_url }}">中文</a>
            {% endif %}
          </li>
        </ul>

        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
